footer {
  background: $color-four;
  padding: 45px 23px;
}

#footer-inner {
}

#footer-form-wrapper {
  box-shadow: 0px 1px 20px #000000;
  padding: 0px 22px;
  padding-bottom: 22px;
  ul {
    margin-top: 35px;
    list-style: none;
    li {
      display: block;
      margin-bottom: 20px;
      &#field_3_7 {
        display: none;
      }
      label {
        display: block;
        margin-bottom: 10px;
        @include type(
          (
            size: 17px,
            height: 19px,
            spacing: 0,
            family: $primaryfont,
            color: $color-seven,
            weight: 700,
          )
        );
        span.gfield_required {
          color: $color-two;
        }
      }
      input,
      textarea {
        width: 100%;
        border-radius: 5px;
        padding: 17px 9px;
        @include type(
          (
            size: 16px,
            family: $primaryfont,
            color: $color-four,
          )
        );
      }
      textarea {
        height: 132px;
      }
    }
  }
  input[type="submit"] {
    display: block;
    color: $color-seven;
    background: $color-two;
    font-size: 20px;
    padding: 27px 30px;
    margin-top: 65px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    &:hover {
      background: $color-one;
    }
  }
  .gfield_description,
  .validation_message {
    color: $color-two;
    margin-top: 10px;
    @include type(
      (
        size: 16px,
        height: 18px,
        family: $primaryfont,
        color: $color-two,
        weight: 700,
      )
    );
  }
  span#required {
    display: block;
    margin-top: -123px;
    margin-bottom: 130px;
    @include type(
      (
        size: 16px,
        height: 18px,
        spacing: 0.8px,
        family: $primaryfont,
        color: $color-seven,
        weight: 700,
        transform: lowercase,
      )
    );
    span {
      color: $color-two;
    }
  }
}

span#footer-form-title {
  display: block;
  padding-top: 30px;
  @include type(
    (
      size: 35px,
      height: 40px,
      family: $primaryfont,
      color: $color-seven,
      weight: 700,
      align: center,
    )
  );
  &:after {
    background: $color-one;
    margin-top: 20px;
    @include margin_lr;
    @include box(171px, 3px);
    @include contentdisplay();
  }
}

span#footer-form-descrip {
  display: block;
  margin-top: 20px;
  @include type(
    (
      size: 18px,
      height: 25px,
      family: $primaryfont,
      color: $color-two,
      align: center,
    )
  );
}

#footer-location-wrapper {
}

#footer-logo {
  a {
    svg {
    }
  }
}

.footer-location-col {
}

span {
  &.location-title {
  }
  &.location-address {
  }
  &.location-phone {
  }
}

a.location-button {
}

#copyright-wrapper {
  ul {
    li {
      a {
      }
    }
  }
}

a#ilawyer {
  svg {
  }
}
