#section-seven {
  background: $color-six;
  padding: 55px 25px 35px;
  @include mq(small-tablet) {
    padding: 70px 95px 42px;
  }
}

#sec-seven-inner {
}

span#sec-seven-title {
  display: block;
  max-width: 490px;
  @include margin_lr();
  @include type(
    (
      size: 30px,
      height: 40px,
      family: $primaryfont,
      color: $color-four,
      weight: 700,
      align: center,
    )
  );
  @include mq(small-tablet) {
    max-width: 412px;
    @include margin_lr();
    @include quick_type(40px, 45px, null);
  }
  &::after {
    margin-top: 25px;
    background: $color-one;
    @include box(100%, 3px);
    @include contentdisplay();
    @include mq(small-tablet) {
      margin-top: 33px;
    }
  }
}

#sec-seven-top,
#sec-seven-bottom {
  // padding: 0px 15px;
}

#sec-seven-top {
  margin-top: 22px;
  max-width: 355px;
  @include margin_lr();
  @include mq(small-tablet) {
    margin-top: 33px;
  }
}

#sec-seven-intro {
  margin-top: 25px;
  @include type(
    (
      size: 17px,
      height: 25px,
      family: $primaryfont,
      color: $color-two,
      weight: 700,
    )
  );
  @include mq(small-tablet) {
    margin-top: 40px;
    @include quick_type(18px, 25px, null);
  }
}

#sec-seven-img-wrapper {
  overflow: hidden;
  @include mq(small-tablet) {
    max-width: 398px;
    @include margin_lr();
  }
  img {
    @include image();
  }
}
