#section-two {
  background: $color-six;
  position: relative;
  z-index: 1;
}

#sec-two-inner {
  @include mq(small-tablet) {
    @include flex();
    margin-right: 30px;
    height: 280px;
  }
}

#sec-two-left {
  padding: 24px 32px;
  @include mq(small-tablet) {
    padding: 53px 32px;
    flex-grow: 1;
  }
}

#sec-two-left-inner {
  @include flex(space-between);
}

.sec-two-single-post {
  flex-basis: 45%;
  &:nth-of-type(3),
  &:nth-of-type(4) {
    display: none;
  }
  a.single-cat-title {
    background: $color-two;
    display: block;
    padding: 7px 5px 5px;
    @include box(110px, 24px);
    @include type(
      (
        size: 10px,
        height: 12px,
        spacing: 1px,
        family: $primaryfont,
        color: $color-seven,
        weight: 700,
        transform: uppercase,
      )
    );
  }
  a.single-post-content {
    @include type(
      (
        size: 12px,
        height: 17px,
        family: $primaryfont,
        color: $color-eight,
      )
    );
  }
  span {
    &.single-content {
      margin-top: 8px;
      display: block;
    }
    &.learn-more {
      display: block;
      margin: 11px 0 0 0;
      padding-top: 9px;
      border-top: 2px solid $color-one;
      @include type(
        (
          size: 10px,
          spacing: 1px,
          family: $primaryfont,
          color: $color-one,
          weight: 700,
          transform: uppercase,
        )
      );
    }
  }
}

.sec-two-button {
  margin-top: 15px;
  @include mq(small-tablet) {
    margin-top: 45px;
  }
}

#sec-two-right {
  @include mq(small-tablet) {
    width: 260px;
    flex-shrink: 0;
  }
}

#sec-two-right-inner {
  background: $color-four;
  position: relative;
  padding: 36px 21px 23px;
  @include mq(small-tablet) {
    margin-top: -65px;
    min-height: 307px;
  }
}

span#sec-two-title {
  display: block;
  @include type(
    (
      size: 14px,
      height: 16px,
      spacing: 2.52px,
      family: $primaryfont,
      weight: 700,
      color: $color-one,
      align: center,
      transform: uppercase,
    )
  );
  @include mq(small-tablet) {
  }
  &:after {
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.5);
    @include margin_lr;
    @include box(162px, 1px);
    @include contentdisplay();
  }
}

#sec-two-slider-wrapper {
  margin-top: 25px;
  @include mq(small-tablet) {
    margin-top: 42px;
  }
}

#sec-two-slider {
}

.sec-two-single-slide {
  span {
    display: block;
    color: $color-seven;
    text-align: center;
    font-family: $primaryfont;
    &.sec-two-slide-title {
      font-weight: 700;
      @include quick_type(22px, 30px, 0);
      @include mq(small-tablet) {
        @include quick_type(25px, 30px, 0);
      }
    }
    &.sec-two-slide-content {
      margin-top: 13px;
      max-width: 207px;
      @include margin_lr;
      @include quick_type(13px, 17px, 0.26px);
      @include mq(small-tablet) {
        @include quick_type(14px, 20px, 0.26px);
      }
    }
  }
}

#sec-two-mobile-arrows {
  max-width: 318px;
  @include margin_lr;
  @include flex(space-between);
  @include mq(small-tablet) {
    display: none;
  }
}

.sec-two-mobile-arrow {
  background: $color-seven;
  margin-top: 36px;
  cursor: pointer;
  @include box(calc(50% - 1px), 26px);
  @include flex(center, center);
  &:after {
    @include contentdisplay();
  }
}

.sec-two-mobile-arrow-left {
  &:hover {
    &:after {
      @include tri(left, 6px, 6px, $color-two);
    }
  }
  &:after {
    transition: all 200ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
    @include tri(left, 6px, 6px, $color-one);
  }
}

.sec-two-mobile-arrow-right {
  &:hover {
    &:after {
      @include tri(right, 6px, 6px, $color-two);
    }
  }
  &:after {
    transition: all 200ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
    @include tri(right, 6px, 6px, $color-one);
  }
}

.sec-two-tablet-arrow {
  background: $color-seven;
  position: absolute;
  display: none;
  box-shadow: 0px 1px 10px #021b2880;
  top: 130px;
  @include box(35px, 52px);
  @include mq(small-tablet) {
    @include flex(center, center);
  }
  &:after {
    @include contentdisplay();
  }
}

.sec-two-tablet-arrow-left {
  left: -15px;
  &:hover {
    &::after {
      @include tri(left, 7px, 7px, $color-two);
    }
  }
  &::after {
    transition: all 200ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
    @include tri(left, 7px, 7px, $color-one);
  }
}

.sec-two-tablet-arrow-right {
  right: -15px;
  &:hover {
    &::after {
      @include tri(right, 7px, 7px, $color-two);
    }
  }
  &::after {
    transition: all 200ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
    @include tri(right, 7px, 7px, $color-one);
  }
}
