#section-five {
  padding: 50px 40px 35px;
  @include mq(small-tablet) {
    padding: 65px 95px 45px;
  }
}

#sec-five-intro {
  @include type(
    (
      size: 17px,
      height: 25px,
      family: $primaryfont,
      color: $color-two,
      weight: 700,
    )
  );
  @include mq(small-tablet) {
    @include quick_type(18px, 25px, null);
  }
}

#sec-five-quote {
  svg {
    @include margin_lr();
    @include image();
  }
  span#sec-five-quote-content {
    display: block;
    margin-top: -42px;
    @include type(
      (
        size: 20px,
        height: 30px,
        family: $primaryfont,
        weight: 700,
        align: center,
      )
    );
    @include mq(small-tablet) {
      max-width: 500px;
      @include margin_lr();
      @include quick_type(24px, 35px, null);
    }
    &::after {
      margin-top: 45px;
      margin-bottom: 28px;
      background: $color-one;
      @include box(100%, 3px);
      @include contentdisplay();
      @include mq(small-tablet) {
        margin-top: 55px;
      }
    }
  }
}
