.preload-section {
  opacity: 0;
  transition: all 800ms ease-in-out;
}

.load-after {
  opacity: 1;
}

.preload-slider {
  display: none;
}

.slick-slider {
  display: block;
}
#internal-main {
  margin-top: 93px;
}

#page-container {
  padding: 27px 40px;
  &.two-col {
    padding: 27px 0px 0px 0px;
    padding-left: 0;
    padding-right: 0;
    @include flex(null, null, column);
  }
}

.page-content-inner {
  order: 1;
  margin-top: 20px;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
}

.page-title {
  padding-left: 40px;
  padding-right: 40px;
  @include type(
    (
      size: 30px,
      height: 35px,
      family: $primaryfont,
      color: $color-four,
      weight: 700,
    )
  );
  &::after {
    background: $color-two;
    margin-top: 23px;
    @include box(100%, 5px);
    @include contentdisplay();
  }
}

.gform_wrapper ul li ::-webkit-input-placeholder {
  color: $color-four;
}
.gform_wrapper ul li ::-moz-placeholder {
  color: $color-four;
}
.gform_wrapper ul li :-moz-placeholder {
  color: $color-four;
}
.gform_wrapper ul li :-ms-input-placeholder {
  color: $color-four;
}
.gform_wrapper ul li ::-moz-placeholder {
  opacity: 1;
}
