.preload-section {
  opacity: 0;
  transition: all 800ms ease-in-out;
}

.load-after {
  opacity: 1;
}

.preload-slider {
  display: none;
}

.slick-slider {
  display: block;
}

.gform_wrapper ul li ::-webkit-input-placeholder {
  color: $color-four;
}
.gform_wrapper ul li ::-moz-placeholder {
  color: $color-four;
}
.gform_wrapper ul li :-moz-placeholder {
  color: $color-four;
}
.gform_wrapper ul li :-ms-input-placeholder {
  color: $color-four;
}
.gform_wrapper ul li ::-moz-placeholder {
  opacity: 1;
}
