#sidebar-wrapper {
  order: 2;
  h3,
  #featured-att-title {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 24px;
    @include type(
      (
        size: 22px,
        height: 30px,
        spacing: 2.2px,
        family: $primaryfont,
        color: $color-four,
        weight: 900,
        transform: uppercase,
      )
    );
  }
  #featured-att-title {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#sidebar-inner {
  background: $color-six;
  padding: 45px 0px;
}

.sidebar-box {
  ul {
    list-style-type: none;
    li {
      position: relative;
      @include type(
        (
          size: 17px,
          height: 26px,
          family: $primaryfont,
          color: $color-four,
        )
      );
      &.active {
        > a {
          margin-bottom: 19px;
        }
        ul.sub-menu {
          padding-top: 24px;
          padding-bottom: 24px;
          margin-bottom: 30px;
          opacity: 1;
          visibility: visible;
          max-height: 3000px;
        }
      }
      a {
        display: block;
        color: $color-four;
        padding-left: 40px;
        padding-right: 93px;
        margin-bottom: 24px;
        text-decoration: none;
        transition: all 200ms ease-in-out;
      }
    }
    &.menu {
      > li.menu-item-has-children {
        &.active {
          > a {
            color: $color-two;
            &::after {
              @include tri(down, 4px, 7px, $color-two);
            }
          }
        }
        > a {
          &::after {
            transition: all 200ms ease-in-out;
            @include contentdisplay();
            @include abs(10px, 70px, null, null);
            @include tri(down, 4px, 7px, $color-four);
          }
        }
      }
      > li.current-menu-item {
        > a {
          color: $color-two;
        }
      }
    }
    &.sub-menu {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      border-top: 2px solid $color-two;
      background: $color-seven;
      transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out,
        max-height 500ms cubic-bezier(0.17, 0.66, 0.34, 0.98),
        margin 500ms cubic-bezier(0.17, 0.66, 0.34, 0.98),
        padding 500ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
      li {
        &:last-of-type {
          a {
            margin-bottom: 0;
          }
        }
      }
      > li.current-menu-item {
        > a {
          color: $color-two;
        }
      }
    }
  }
}

#featured-att-wrapper {
  padding: 48px 36px;
}

#featured-att-list {
  margin-top: 30px;
}

a.single-featured-att {
  display: block;
  text-decoration: none;
  border-bottom: 1px $color-five solid;
  margin-top: 27px;
  padding-bottom: 27px;
  .single-featured-att-inner {
    @include flex(space-between);
    .single-featured-att-img {
      @include box(77px);
      img {
        @include image();
      }
    }
    .single-featured-att-content {
      margin-left: 15px;
      flex-grow: 1;
      @include flex(space-between);
      &::after {
        margin-top: 23px;
        @include contentdisplay();
        @include tri(right, 8px, 8px, $color-one);
      }
      span {
        display: block;
        &.single-featured-att-title {
          margin-top: 10px;
          @include type(
            (
              size: 18px,
              height: 20px,
              family: $primaryfont,
              color: $color-four,
              weight: 700,
            )
          );
        }
        &.single-featured-att-position {
          margin-top: 2px;
          @include type(
            (
              size: 15px,
              height: 20px,
              family: $primaryfont,
              color: $color-four,
            )
          );
        }
      }
    }
  }
}

#featured-att-button-wrapper {
  margin-top: 30px;
  max-width: 244px;
  @include margin_lr();
  .featured-att-button {
    margin-bottom: 20px;
    width: 100%;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
